<div class="modal" ng-controller="VerifyCtrl">
	<!-- Modal header bar -->
	<ion-header-bar class="bar-secondary bar-royal">
		<h1 class="title">Verify Phone</h1>
		<button class="button button-clear" ng-click="closeVerifyPhone()">Cancel</button>
	</ion-header-bar>
	<!-- Modal content area -->
	<ion-content>
		<div class="padding" ng-if="hasSettings">
			<div ng-if="!settings.verify_number">
				<div class="list">
					<label class="item item-input">
						<input type="text" placeholder="Phone number" ng-model="data.number">
					</label>
				</div>
				<button ng-click="getCode()" class="button icon-left button-block button-positive">Get verification code</button>
			</div>
			<div ng-if="settings.verify_number">
				<div class="list">
					<label class="item item-input">
						<input type="text" placeholder="Verification code" ng-model="data.code">
					</label>
				</div>
				<button ng-click="verifyCode()" class="button icon-left button-block button-positive">Verify this code</button>
				<button ng-click="getCode(settings.verify_number)" class="button icon-left button-block button-assertie">Get a new code</button>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-stable" ng-click="closeVerifyPhone()">
		<h1 class="title">
			Exit
		</h1>
	</ion-footer-bar>
</div>